
         <!-- getfonctionalite -->
         <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr >
                  <th scope="col">Id</th>
                  <th scope="col">name</th>
                  <th scope="col">designation</th>
                  
        
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let fonctionalite of fonctionaliteList | paginate: { id:'listing_pagination',
                itemsPerPage:4,
                currentPage:page,
                totalItems:totalRec} ">
                  <td scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">{{fonctionalite.id}}</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    {{fonctionalite.name}}
                  </td>
                  <td>
                    {{fonctionalite.designation}}
                  </td>
                  
                  <td class="text-right">
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                     
                    </div>
                  </td>
                </tr>
             </tbody>
            </table>
              <div>
                <pagination-controls  id="listing_pagination"
                  (pageChange)="page=$event"  
             >
        </pagination-controls>
          
              </div>
        </div>
   