<mat-nav-list >
  <div class="logo py-4">
    <img src="./assets/st2i.png" alt="Company Logo" />
  </div>
  <mat-divider ></mat-divider>

  <a mat-list-item *ngIf="userService.roleMatch(['RH'])" routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>calendar_today</mat-icon> Calendrier
  </a>

  <a mat-list-item *ngIf="userService.roleMatch(['USER','MANAGER'])" routerLinkActive="list-item-active" routerLink="/user-calendar">
    <mat-icon>calendar_today</mat-icon> Calendrier
  </a>
  
  <a mat-list-item *ngIf="userService.roleMatch(['ADMIN'])" routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Tableau de bord
  </a>

  <a mat-list-item *ngIf="userService.roleMatch(['RH'])" routerLinkActive="list-item-active" routerLink="/employee">
    <mat-icon>people</mat-icon>Gestion des employés
  </a>
  <a mat-list-item *ngIf="userService.roleMatch(['ADMIN','USER','MANAGER'])" routerLinkActive="list-item-active" routerLink="/employeelist">
    <mat-icon>people</mat-icon>Liste des employés
  </a>
  <a mat-list-item *ngIf="userService.roleMatch(['MANAGER'])" routerLinkActive="list-item-active" routerLink="/monequipe">
    <mat-icon>people</mat-icon>Mon équipe
  </a>


  <a mat-list-item *ngIf="userService.roleMatch(['MANAGER','USER','RH'])" routerLinkActive="list-item-active" routerLink="/demande">
  	<mat-icon>assignment</mat-icon>Gestion des demandes
  </a>

  
  <a mat-list-item *ngIf="userService.roleMatch(['RH'])" routerLinkActive="list-item-active" routerLink="/salle">
    <!--<img class="png-icon" src="../../../assets/bureau.png" style="width: 24px; height: 24px;"/>Gestion des salles-->
    <mat-icon>meeting_room</mat-icon>Gestion des salles
  </a>
<a mat-list-item *ngIf="userService.roleMatch(['ADMIN','USER','MANAGER'])" routerLinkActive="list-item-active" routerLink="/sallelist">
  <mat-icon>meeting_room</mat-icon>Liste des salles
</a>

<a mat-list-item *ngIf="userService.roleMatch(['RH'])" routerLinkActive="list-item-active" routerLink="/departement">
  <mat-icon>domain</mat-icon>Gestion des département
</a>
<a mat-list-item *ngIf="userService.roleMatch(['ADMIN','USER','MANAGER'])" routerLinkActive="list-item-active" routerLink="/departementlist">
  <mat-icon>domain</mat-icon>Liste des départements
</a>

<a mat-list-item *ngIf="userService.roleMatch(['RH'])" routerLinkActive="list-item-active" routerLink="/projet">
  <mat-icon>work</mat-icon>Gestion des projets
</a>
<a mat-list-item *ngIf="userService.roleMatch(['ADMIN'])" routerLinkActive="list-item-active" routerLink="/projetlist">
  <mat-icon>work</mat-icon>Liste des projets
</a>


  <a mat-list-item *ngIf="userService.roleMatch(['ADMIN'])" routerLinkActive="list-item-active" routerLink="/user">
    <mat-icon>supervised_user_circle</mat-icon>Gestion des utilisateurs
  </a>
  <a mat-list-item *ngIf="userService.roleMatch(['RH'])" routerLinkActive="list-item-active" routerLink="/userlist">
    <mat-icon>supervised_user_circle</mat-icon>Liste des utilisateurs
  </a>


  <a mat-list-item *ngIf="userService.roleMatch(['ADMIN'])" routerLinkActive="list-item-active" routerLink="/profil">
    <mat-icon>person</mat-icon>Gestion des profils
  </a>
  <a mat-list-item *ngIf="userService.roleMatch(['RH'])" routerLinkActive="list-item-active" routerLink="/profillist">
    <mat-icon>person</mat-icon>Liste des profils
  </a>

  <a mat-list-item *ngIf="userService.roleMatch(['ADMIN'])" routerLinkActive="list-item-active" routerLink="/logaccess">
    <mat-icon>clear_all</mat-icon>Historique de connexion
  </a>
  <a mat-list-item *ngIf="userService.roleMatch(['ADMIN'])" routerLinkActive="list-item-active" routerLink="/logdata">
    <mat-icon>clear_all</mat-icon>Historique d'utilisation
  </a>
  
 

 <!-- <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a> -->

</mat-nav-list>
