<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
    <div >
      <div class="container">
        <h2>Responsive Tables Using LI ></h2>
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1">Project Id</div>
            <div class="col col-2">Name</div>
            <div class="col col-3">Priority</div>
            <div class="col col-4">Description</div>
            <div class="col col-5">Start date</div>
            <div class="col col-6">End date</div>
          </li>
          
          <li class="table-row"  *ngFor="let projet of projetList | paginate: { id:'listing_pagination',
          itemsPerPage:4,
          currentPage:page,
          totalItems:totalRec} ">
            <div class="col col-1" data-label="Job Id">{{projet.id}}</div>
            <div class="col col-2" data-label="Customer Name">{{projet.name}}</div>
            <div class="col col-3" data-label="Amount">{{projet.priority}}</div>
            <div class="col col-4" data-label="Payment Status">{{projet.description}}</div>
            <div class="col col-5" data-label="Payment Status">{{projet.startdate}}</div>
            <div class="col col-6" data-label="Payment Status">{{projet.enddate}}</div>
          </li>
        
        </ul>
      </div>
    </div>
  </div>
</div>
