body {
  font-family: 'lato', sans-serif;
}
.page__content{
  font-size: 1rem;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #007ba7 0px 0px 20px,
   #007ba7 0px 0px 30px, #007ba7 0px 0px 40px, #007ba7 0px 0px 50px, #007ba7 0px 0px 75px, 2px 3px 2px rgba(26, 77, 124, 0);
   color: #5469d4;
   padding-bottom: 1em;
}

.responsive-table {
  li {
    border-radius: 20px;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    
  }


.table-header {
  background-image: linear-gradient(195deg, #7fd3ed 0%, #5469d4 100%);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}
.col-1 {
  flex-basis: 4%;
}
.col-2 {
  flex-basis: 15%;
}
.col-3 {
  flex-basis: 10%;
}
.col-4 {
  flex-basis: 20%;
  margin-left: 0.2em;
}
.col-5 {
  flex-basis: 17%;
  margin-left: 0.2em;

}
.col-6 {
  flex-basis: 17%;
}

.text-secondary {
  color: #7b809a !important;
}
.text-white {
  color: #ffffff !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.opacity-7 {
  opacity: 0.7 !important;
}
.text-xxs {
  font-size: 1rem !important;
}
.font-weight-bold {
  font-weight: 400 !important;
}

.font-weight-bolder {
  font-weight: 700 !important;
}



@media all and (max-width: 950px) {
  .table-header {
    display: none;
  }
  .table-row{
    
  }
  li {
    display: block;
  }
  .col {
   
    flex-basis: 100%;
    max-width:160em;
    
  }
  .col {
    display: flex;
    padding: 1px 0;
    &:before {
      color: #6C7A89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: center;
    }
  }
}
}
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}


/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}




.s004 form {
  width: 100%;
  max-width: 790px;
}


.s004 form .inner-form {
  width: 100%;
  margin-bottom: 20px;
}

.s004 form .inner-form .input-field {
  width: 50%;
  position: relative;
  bottom: 0;
  right: -200px;
}

.s004 form .inner-form .input-field .choices {
  margin-bottom: 0;
}


.s004 form .inner-form .input-field .btn-search {
  width: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: default;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  align-items: center;
}

.s004 form .inner-form .input-field .btn-search svg {
  fill: #333;
  width: 30px;
  height: 30px;
  transition: all .2s ease-out, color .2s ease-out;
}

.s004 form .inner-form .input-field .btn-search:hover, .s004 form .inner-form .input-field .btn-search:focus {
  outline: 0;
  box-shadow: none;
}



//=== Drawing effect

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;
  
  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;
    
    #{$vertical}: 0; 
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');
    
    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }
  
  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');
    
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }
  
  &:hover {
    color: $hover;
    
    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }
    
    &::before { transition-delay: 0s, 0s, $duration; }
    
    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

.draw-border-update {
  @include btn-border-drawing(#58afd1, #4438f5, 4px, bottom, right);
}
.draw-border-cancel {
  @include btn-border-drawing(#58afd1, #ff2b2b, 4px, bottom, right);
}
//=== Button styling
.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  margin-left: 3pt;
  margin-right: 3pt;
  
  &:focus { outline: 2px dotted #55d7dc; }
}

.input{
  width: 100%;
}

.page {
  color: white;
  padding: 0 1em;
  background: #f1f5f9;
}
.page__box {
  min-height: 120px;
  background: #b0dfe5;
  margin: 0 -1rem;
  font-size: 36px;
}
.page__content {
  min-height: calc(100vh - 178px);
  border-radius: 10px;
  margin-top: -2rem;
  background: white;
  color: black;

}
.page__content-data {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pad{
padding:0;

}


.pg{
color: #0dcaf0;
}




/**
 * Correct the font size and margin on h1 elements within section and
 * article contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}