 
 
    
 

        <h3 style="text-align:center">Mon compte</h3>
    <mat-tab-group >
      <mat-tab label="Details">
        <div style=" padding-top: 5%;   text-align: -webkit-center;
        ">
        <mat-card style="margin-bottom: 1%;margin-top: 1%;margin-left: 1%;margin-right: 1%;" class="example-card">
         
          <app-upload-images></app-upload-images>

<form (ngSubmit)="confirmUpdate()" [formGroup]="accountDetail">
  <div fxFlex fxLayout="column">
    <div>
    <mat-form-field appearence="fill" fxFlex class="input mtfldwrapper">
      <mat-label style="padding-left: 2.5%;"> Prénom </mat-label>
      <mat-icon matPrefix>people</mat-icon>
      <input style="padding-left: 2.5%;" matInput formControlName="lname" type="text"  />
      <mat-error  *ngIf="accountDetail.controls.lname.touched && accountDetail.controls.lname.invalid">
        <span *ngIf="accountDetail.controls.lname.errors.required"> Ce champ est obligatoire</span>
        <span *ngIf="accountDetail.controls.lname.errors.pattern"> Ce champ est invalide, il ne doit pas contenir ni des chiffres ni des caractéres spéciaux</span>
      </mat-error>
    </mat-form-field>
  </div>

  <div >
    <mat-form-field appearence="fill" fxFlex class="input mtfldwrapper">
      <mat-label style="padding-left: 2.5%;"> Nom </mat-label>
      <mat-icon matPrefix>people</mat-icon>
      <input style="padding-left: 2.5%;" matInput formControlName="fname" type="text" />
      <mat-error  *ngIf="accountDetail.controls.fname.touched && accountDetail.controls.fname.invalid">
        <span *ngIf="accountDetail.controls.fname.errors.required"> Ce champ est obligatoire</span>
        <span *ngIf="accountDetail.controls.fname.errors.pattern"> Ce champ est invalide, il ne doit pas contenir ni des chiffres ni des caractéres spéciaux</span>
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearence="fill" fxFlex class="input mtfldwrapper">
      <mat-label style="padding-left: 2.5%;"> Adresse </mat-label>
      <mat-icon matPrefix>location_city</mat-icon>
      <input style="padding-left: 2.5%;" matInput formControlName="ads" type="text" />
      <mat-error  *ngIf="accountDetail.controls.ads.touched && accountDetail.controls.ads.invalid">
        <span *ngIf="accountDetail.controls.ads.errors.required"> Ce champ est obligatoire</span>
        <span *ngIf="accountDetail.controls.ads.errors.pattern"> L'adresse doit comporter au moins 4 caractères</span>
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearence="fill" fxFlex class="input mtfldwrapper">
      <mat-label style="padding-left: 2.5%;"> Numéro de téléphone </mat-label>
      <mat-icon matPrefix>local_phone</mat-icon>
      <input style="padding-left: 2.5%;" matInput formControlName="phnbr" type="text" />
      <mat-error  *ngIf=" accountDetail.controls.phnbr.invalid">
        <span *ngIf="accountDetail.controls.phnbr.errors.required"> Ce champ est obligatoire</span>
        <span *ngIf="accountDetail.controls.phnbr.errors.pattern"> Ce champ est invalide, il doit être un numéro</span>
        <span *ngIf="accountDetail.controls.phnbr.errors.minlength && accountDetail.controls.phnbr.errors.maxlength"> Le numéro doit comporter 8 chiffres</span>                   
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearence="fill" fxFlex class="input mtfldwrapper">
      <mat-label style="padding-left: 2.5%;"> Choisir Date de naissance</mat-label>
      <mat-icon matPrefix>today</mat-icon>
      <input formControlName="bdate" matInput [matDatepicker]="picker">
      <mat-hint style="padding-left: 6%;">MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <!--<mat-hint *ngIf="validateBirthDate() ">
        <span style="color:red;"> L'année de naissance doit être inférieure à 2000</span>
      </mat-hint>-->
    </mat-form-field>
  </div>

  <div style="text-align: start; padding-top:2% ;" appearence="fill" fxFlex class="input mtfldwrapper" >
    <mat-icon  matPrefix>accessibility_new</mat-icon>
      <mat-label style="padding-left: 2.5%;"> Sexe :    </mat-label>
      
    <mat-radio-group formControlName="gender" (change)="onDataChange($event)">
      <mat-radio-button [disabled]="!disabled" style="padding-left:2%" value="Homme">Homme</mat-radio-button>
      <mat-radio-button  [disabled]="!disabled" style="padding-left:2%" value="Femme">Femme</mat-radio-button>
    </mat-radio-group>
    <mat-error  *ngIf="accountDetail.controls.gender.touched && accountDetail.controls.gender.invalid">
      <span *ngIf="accountDetail.controls.gender.errors.required"> Ce champ est obligatoire</span>
    </mat-error>
  </div>
  <div mat-dialog-actions style="padding-top: 4%; margin-bottom: 3%;" fxLayoutAlign="end end">

    <button   *ngIf="disabled==false" (click)="mettre()"   class="mat-raised-actions" style="background-color: #cd1b2d; color: white;" >
        {{ "Mettre à jour"  }}
    </button>

  <button  *ngIf="disabled==true" (click)="annuler()"   class="mat-raised-actions" style="background-color: #cd1b2d; color: white;" type="submit" >
    {{ "Annuler"  }}
</button>
<div style="padding-left:3%">
<button  *ngIf="disabled==true"    class="mat-raised-actions" style="background-color: #cd1b2d; color: white;" >
  {{ "Modifier"  }}
</button>
</div>
</div>

  </div>
</form>

          <mat-card-content>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>

    <!--****************************** Settings **************************************-->
      <mat-tab label="Settings">
        <mat-toolbar class="clr">
          <mat-toolbar-row fxLayout="row">
            <span class="title-center" >Changer le mot de passe </span>
          </mat-toolbar-row>
        </mat-toolbar>

        <div style=" padding-top: 5%;   text-align: -webkit-center;
        ">
        <mat-card style="margin-bottom: 1%;margin-top: 1%;margin-left: 1%;margin-right: 1%;" class="example-card">
         

  <form  [formGroup]="changePasswordForm">
  <div fxFlex fxLayout="column">
    
    <div>
    <mat-form-field appearence="fill" fxFlex class="input mtfldwrapper">
      <mat-label style="padding-left: 2.5%;" >Mot de passe actuel</mat-label>
      <mat-icon matPrefix>password</mat-icon>
              <input style="padding-left: 2.5%;" type="password" matInput formControlName="oldPassword"   required >
              <mat-error *ngIf="changePasswordForm.controls.oldPassword.touched && changePasswordForm.controls.oldPassword.invalid">
                <span *ngIf="changePasswordForm.controls.oldPassword.errors.required">Ce champ est obligatoire</span>
              </mat-error>
    </mat-form-field>
  </div>

<div>
  <mat-form-field appearence="fill" fxFlex class="input mtfldwrapper">

  <mat-label style="padding-left: 2.5%;" >Nouveau mot de passe</mat-label>
      <mat-icon matPrefix>password</mat-icon>
      <input type="password" matInput formControlName="newPassword"  required >
      <mat-error *ngIf="changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.invalid">
        <span *ngIf="changePasswordForm.controls.newPassword.errors.required">Ce champ est obligatoire</span>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearence="fill" fxFlex class="input mtfldwrapper">

    <mat-label style="padding-left: 2.5%;" >Confirmer le nouveau mot de passe</mat-label>
        <mat-icon matPrefix>password</mat-icon>
        <input type="password" matInput formControlName="confirmPassword"  required>
  <mat-error *ngIf="changePasswordForm.controls.confirmPassword.touched && changePasswordForm.controls.confirmPassword.invalid">
    <span *ngIf="changePasswordForm.controls.confirmPassword.errors.required">Ce champ est obligatoire</span>
  </mat-error>
  <mat-hint *ngIf="validateSumbit() && !(changePasswordForm.controls.confirmPassword.invalid)">
    <span style="color:red;"> Les entrées dans les champs "Nouveau mot de passe" et "Confirmer le nouveau mot de passe" ne sont pas identiques.</span>
  </mat-hint>
      </mat-form-field>
    </div>
  
    
  <div mat-dialog-actions style="padding-top: 4%;" fxLayoutAlign="end end">

    <button     class="mat-raised-actions" style="background-color: #cd1b2d; color: white;" (click)="handleChangePasswordSubmit()" 
    [disabled]="validateSumbit() || !(changePasswordForm.valid && changePasswordForm.dirty)">
        {{ "Mettre à jour"  }}
    </button>
</div>

  </div>
 
 

</form>

          <mat-card-content>
           
          </mat-card-content>
 
        </mat-card>
      </div>


    </mat-tab>
  </mat-tab-group>


        <!--
    <div  class="container">
      <mat-toolbar class="clr">
        <mat-toolbar-row fxLayout="row">
          <span class="title-center" >Changer le mot de passe </span>
        </mat-toolbar-row>
      </mat-toolbar>
    
      <mat-dialog-content class="mat-typography">
        <form [formGroup]="changePasswordForm">
          <div fxFlex fxLayout="column">
            <div class="row"  class="marg">
            <mat-form-field appearence="fill" fxFlex>
              
              <mat-label class="clr2">Mot de passe actuel</mat-label>
              <input type="password" matInput formControlName="oldPassword"  class="input-pass" required placeholder=" pass">
              <mat-error *ngIf="changePasswordForm.controls.oldPassword.touched && changePasswordForm.controls.oldPassword.invalid">
                <span *ngIf="changePasswordForm.controls.oldPassword.errors.required">This field is necessary</span>
              </mat-error>
            </mat-form-field>
          </div>
            <div class="row" class="marg">
            <mat-form-field appearence="fill" fxFlex>
              <mat-label class="clr2">Nouveau mot de passe</mat-label>
              <input type="password" matInput formControlName="newPassword" class="input-pass" required >
              <mat-error *ngIf="changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.invalid">
                <span *ngIf="changePasswordForm.controls.newPassword.errors.required">This field is necessary</span>
              </mat-error>
            </mat-form-field>
          </div>
            <div class="row" class="marg">
            <mat-form-field appearence="fill" fxFlex>
              <mat-label class="clr2">Confirmer le nouveau mot de passe </mat-label>
              <input type="password" matInput formControlName="confirmPassword"  class="input-pass" required>
              <mat-error *ngIf="changePasswordForm.controls.confirmPassword.touched && changePasswordForm.controls.confirmPassword.invalid">
                <span *ngIf="changePasswordForm.controls.confirmPassword.errors.required">This field is necessary</span>
              </mat-error>
              <mat-hint *ngIf="validateSumbit() && !(changePasswordForm.controls.confirmPassword.invalid)">
                <span style="color:red;"> Les entrées dans les champs "Nouveau mot de passe" et "Confirmer le nouveau mot de passe" ne sont pas identiques.</span>
              </mat-hint>
            </mat-form-field>
          </div>
          </div>
        
        </form>
      </mat-dialog-content>
      <mat-dialog-actions  style="width: 30%;" class="btn-group">
        <button style="width:50%"  mat-raised-button class="btn btn-primary btn-block" type="submit" (click)="handleChangePasswordSubmit()"
          [disabled]="validateSumbit() || !(changePasswordForm.valid && changePasswordForm.dirty)">Mettre à jour votre mot de passe.
        </button>
      </mat-dialog-actions>
    </div>
      </mat-tab>
      </mat-tab-group>
    -->