.example-card {
  max-width: 70%;
}

.md-datepicker-button {
  display: none !important;   
}
/* .mat-datepicker-toggle, .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button {
  display: none;
  color: rgba(0,0,0,.54);
} */

.example-container .mat-radio-button {
  margin: 0 12px;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-container .mat-form-field {
  width: 220px;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 12px;
}

.mat-raised-actions {
    
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

}



/*

.img-input
{
  display: block;
  width: 50%;
  background-color: #fff;
  border-style: none;
  
}

.avatar-xl img {
    width: 110px;
}
.rounded-circle {
    border-radius: 40% !important;
}
img {
    vertical-align: middle;
    border-style: none;
}
.text-muted {
    color: #b6d0e7 !important;
}
.text-muted {
    font-weight: 450;
}
hr { display: block;
     margin-before: 0.5em;
      margin-after: 0.5em;
       margin-start: auto; 
       margin-end: auto;
     overflow: hidden; 
     border-style: inset;
      border-width: 1px;}
  .input-pass{
    margin-top: 1em;
  }
 .marg {
  margin-top: 10px;
 
 
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  padding: 1em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #b9b9b9;
  background-color: #e3e3e3;
}
h5,h6 {
  color: #007ba7;
}
input,
input[type="radio"] + label,
select option,
select {
  width: 70%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
input:focus {
  outline: 0;
  border-color: #007ba7;
}
input:focus + .input-icon i {
  color: #007ba7;
}
input:focus + .input-icon:after {
  border-right-color: #007ba7;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label,
select {
  display: inline-block;
  width: 30%;
  text-align: center;
  float: left;
  border-radius: 0;
}
input[type="radio"] + label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
input[type="radio"] + label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
input[type="radio"] + label i {
  padding-right: 0.4em;
}
input[type="radio"]:checked + label,
input:checked + label:before,
select:focus,
select:active {
  background-color: #007ba7;
  color: #fff;
  border-color: #007ba7;
}


input:checked + label:after {
  opacity: 1;
}
select {
  height: 3.4em;
  line-height: 2;
}
select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
select:focus,
select:active {
  outline: 0;
}
select option {
  background-color: #007ba7;
  color: #fff;
}
.input-group {
  margin-bottom: 2.5em;
  zoom: 1;
}
.input-group:before,
.input-group:after {
  content: "";
  display: table;
}

.input-group-icon {
  position: relative;
}
.input-group-icon input {
  padding-left: 4.4em;
}
.input-group-icon .input-icon {
  position: absolute;
  top: -5;
  left: -5;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}
.input-group-icon .input-icon:after {
  position: absolute;
  top: -5.4em;
  bottom: 0.6em;
  left: -2.6em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.container {
  max-width: 60em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
.row {
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
  padding-bottom: 4em;
}
.col-half:last-of-type {
  padding-right: 0;
}
.col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}
.col-third:last-of-type {
  padding-right: 0;
}
@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
}

mat-hint{
  color: red;
}


.clr {
  background-color: #007ba7;
  color: #fff;
}
.clr2 {

  color: #002c53;
}
.container{
  max-width: 70em !important;
}

.sexe-btn{

  border-color:blue;
}

*/