

<!-- addsalle -->
<ng-template #content let-c="close" let-d="dismiss">
  
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row bg-color">

      <span class="title-center">Ajouter une nouvelle salle</span>
      <button
        type="button"
        class="d-block mr-0 ml-auto btn-close" (click)="d('Cross click')"
        aria-label="Close"
        mat-dialog-close
        (click)="handleClear()"
      ></button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="modal-body">
  <form [formGroup]="salleDetail" >
    <div class="pl-lg-4 field">
      <div class="row formbg-inner   ">
        <div class="col-lg-6">
          <h6 class="heading-small text-muted mb-4">
            Les informations de la salle :
          </h6>
          <div class="padding-bottom--24" >
            <label class="form-control-label"  for="input-name">Type</label>
          <select id = "select-type" formControlName="type" class="form-control form-control-alternative" >
              <option value="" selected hidden>Choisissez le type de la salle</option>
              <option value="Salle de travail">Salle de travail</option> <!-- OPTION 1 -->
              <option value="Salle de réunion">Salle de réunion</option> <!-- OPTION 2 -->
          </select>
          <mat-error  *ngIf="salleDetail.controls.type.touched && salleDetail.controls.type.invalid">
              <span *ngIf="salleDetail.controls.type.errors.required"> Ce champ est obligatoire</span>
              <!--<span *ngIf="salleDetail.controls.type.errors.pattern"> Ce champ est invalide</span> 
              <span *ngIf="salleDetail.controls.type.errors.minlength"> Le nom doit comporter au moins 4 caractères</span>-->
            </mat-error>
            </div>
            <div class="padding-bottom--24">
            <label class="form-control-label" for="input-priority">Nom</label>
            <input type="text" formControlName="nom" id="input-priority" class="form-control form-control-alternative" placeholder="Nom de la salle" value="" required>
            <mat-error  *ngIf="salleDetail.controls.nom.touched && salleDetail.controls.nom.invalid">
              <span *ngIf="salleDetail.controls.nom.errors.required"> Ce champ est obligatoire</span>
            </mat-error>  
          </div>
          <div class="padding-bottom--24">
          <label class="form-control-label" for="input-priority">Nombre des postes</label>
          <input type="text" formControlName="nbposte" id="input-priority" class="form-control form-control-alternative" placeholder="Le nombre des postes" value="" required>
          <mat-error  *ngIf="salleDetail.controls.nbposte.touched && salleDetail.controls.nbposte.invalid">
            <span *ngIf="salleDetail.controls.nbposte.errors.required"> Ce champ est obligatoire</span>
            <span *ngIf="salleDetail.controls.nbposte.errors.pattern"> Ce champ est invalide, il doit être un numéro</span> 
          </mat-error>  
        </div>
        <div class="padding-bottom--24">
          <label class="form-control-label" for="input-priority">Pourcentage des présence</label>
          <input type="text" formControlName="pourcentagePres" id="input-priority" class="form-control form-control-alternative" placeholder="Le pourcentage des présence" value="" required>
          <mat-error  *ngIf="salleDetail.controls.pourcentagePres.touched && salleDetail.controls.pourcentagePres.invalid">
            <span *ngIf="salleDetail.controls.pourcentagePres.errors.required"> Ce champ est obligatoire</span>
            <span *ngIf="salleDetail.controls.pourcentagePres.errors.pattern"> Ce champ est invalide, il doit être un numéro</span> 
          </mat-error>  
        </div>

        <div class="padding-bottom--24">
          <label class="form-control-label" for="input-departement">Département</label>
        <select formControlName="dep" id="select-dep" class="form-control form-control-alternative" value="dep.name">
          <option value="" disabled selected hidden>Sélectionnez un département</option>
          <option *ngFor="let departement of departementList" [value]="departement.name" >{{departement.name}}</option>
        </select>
        </div>


        </div>
      </div>
    </div>
    <div>
      <mat-dialog-actions class="btn-group padding--14">
        <button class="btn button-2 bg-cb"  [disabled]="!salleDetail.valid" mat-strocked-button type="submit" (click)="c('Save click')" (click)="addSalle()"  (click)="handleClear()">
          Ajouter une salle
        </button>
        <button  class="btn button-2 bg-cr"  mat-stroked-button  mat-dialog-close  (click)="close(content)" (click)="handleClear()">
          Fermer
        </button>
      </mat-dialog-actions>
    </div>
  </form>
</div>
     
    </ng-template>

<!-- editsalle -->
        
<ng-template #contentUpdate let-c="close" let-d="dismiss">
      
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row bg-color">

      <span class="title-center">Mettre à jour la salle</span>
      <button
        type="button"
        class="d-block mr-0 ml-auto btn-close" (click)="d('Cross click')"
        aria-label="Close"
        mat-dialog-close
        (click)="handleClear()"
      ></button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="modal-body">
  <form [formGroup]="salleDetail" >
    <div class="pl-lg-4 field">
      <div class="row formbg-inner   ">
        <div class="col-lg-6">
          <h6 class="heading-small text-muted mb-4">
            Les informations de la salle :
          </h6>
          <div class="padding-bottom--24" >
            <label class="form-control-label"  for="input-name">Type</label>
          <select id = "select-type" formControlName="type" class="form-control form-control-alternative" >
            <optgroup label="Type de salle :">
              <option value="" selected hidden>Choisissez le type de la salle</option>
              <option value="Salle de travail">Salle de travail</option> <!-- OPTION 1 -->
              <option value="Salle de réunion">Salle de réunion</option> <!-- OPTION 2 -->
            </optgroup>
          </select>
          <mat-error  *ngIf="salleDetail.controls.type.touched && salleDetail.controls.type.invalid">
              <span *ngIf="salleDetail.controls.type.errors.required"> Ce champ est obligatoire</span>
              <!--<span *ngIf="salleDetail.controls.type.errors.pattern"> Ce champ est invalide</span> 
              <span *ngIf="salleDetail.controls.type.errors.minlength"> Le nom doit comporter au moins 4 caractères</span>-->
            </mat-error>
            </div>
            <div class="padding-bottom--24">
            <label class="form-control-label" for="input-priority">Nom</label>
            <input type="text" formControlName="nom" id="input-priority" class="form-control form-control-alternative"  value="" required>
            <mat-error  *ngIf="salleDetail.controls.nom.touched && salleDetail.controls.nom.invalid">
              <span *ngIf="salleDetail.controls.nom.errors.required"> Ce champ est obligatoire</span>
              <span *ngIf="salleDetail.controls.nom.errors.pattern"> Ce champ est invalide, il doit être un numéro</span> 
            </mat-error>  
          </div>
          <div class="padding-bottom--24">
          <label class="form-control-label" for="input-priority">Nombre des postes</label>
          <input type="text" formControlName="nbposte" id="input-priority" class="form-control form-control-alternative"  value="" required>
          <mat-error  *ngIf="salleDetail.controls.nbposte.touched && salleDetail.controls.nbposte.invalid">
            <span *ngIf="salleDetail.controls.nbposte.errors.required"> Ce champ est obligatoire</span>
            <span *ngIf="salleDetail.controls.nbposte.errors.pattern"> Ce champ est invalide, il doit être un numéro</span> 
          </mat-error>  
        </div>
        <div class="padding-bottom--24">
          <label class="form-control-label" for="input-priority">Pourcentage des présence</label>
          <input type="text" formControlName="pourcentagePres" id="input-priority" class="form-control form-control-alternative"  value="" required>
          <mat-error  *ngIf="salleDetail.controls.pourcentagePres.touched && salleDetail.controls.pourcentagePres.invalid">
            <span *ngIf="salleDetail.controls.pourcentagePres.errors.required"> Ce champ est obligatoire</span>
            <span *ngIf="salleDetail.controls.pourcentagePres.errors.pattern"> Ce champ est invalide, il doit être un numéro</span> 
          </mat-error>  
        </div>
        <div class="padding-bottom--24">
          <label class="form-control-label" for="input-departement">Département</label>
        <select formControlName="dep" id="select-dep" class="form-control form-control-alternative" value="dep.name">
          <option value="" disabled selected hidden>Sélectionnez un département</option>
          <option *ngFor="let departement of departementList" [value]="departement.name" >{{departement.name}}</option>
        </select>
        </div>
        
        </div>
      </div>
    </div>
    <div>
      <mat-dialog-actions class="btn-group padding--14">
        <button class="btn button-2 bg-cb"  [disabled]="!salleDetail.valid" mat-strocked-button type="submit" (click)="c('Save click')"
         (click)="updateSalle()"  (click)="handleClear()">
          modifier projet
        </button>
        <button  class="btn button-2 bg-cr"  mat-stroked-button  mat-dialog-close  (click)="close(contentUpdate)" (click)="handleClear()">
          Fermer
        </button>
      </mat-dialog-actions>
    </div>
  </form>
</div>
     
    </ng-template>



     <!-- getsalles -->
     
     
     <div class="container-fluid page">
      <div class="d-flex page__box p-3 mt-2">Gestion des salles</div>
      <div class="page__content shadow p-3 ">
      <div class="page__content-data position-absolute text-center">

             <form>
              <div class="s004">
                <form class="form">
                  <fieldset>
                    <div class="inner-form">
                      <div class="input-field">
                        <input class="form-control" id="choices-text-preset-values" (ngModelChange)="searchSalles(key.value)" #key="ngModel" ngModel
                        name="key" type="search" placeholder="Type to search..." />
                        <span class="input-icon" id="basic-addon1">
                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                        </svg>
                        </span>
                      </div>
                    </div> 
                  </fieldset>
                </form>
              </div>
            <ul class="responsive-table pad">
                <li class="table-header margt  ">
                  <div [(appSort)]="salleList" data-order="desc" data-name="type" class="col mar padt col-2 text-uppercase text-white font-weight-bolder opacity-7">Type</div>
                  <div [(appSort)]="salleList" data-order="desc" data-name="nom" class="col  mar padt col-3 text-uppercase text-white font-weight-bolder opacity-7">Nom</div>
                  <div [(appSort)]="salleList" data-order="desc" data-name="nbposte" class="col mar padt col-4 text-uppercase text-white font-weight-bolder opacity-7">Nombre de postes</div>
                  <div [(appSort)]="salleList" data-order="desc" data-name="pourcentagePres" class="col padt mar col-5 text-uppercase text-white font-weight-bolder opacity-7">Pourcentage de présence </div>            
                  <div [(appSort)]="salleList" data-order="desc" data-name="dep" class="col mar padt col-6 text-uppercase text-white font-weight-bolder opacity-7">Département </div>            

                <div class="col  col-7  margl  text-uppercase text-white font-weight-bolder opacity-7"> Actions</div>
                <div class="col col-8 ">
                          <span class="navbar-toggler-icon"></span>  
                        <div  id="navbarSupportedContent">
                          <button class="btn button-1" data-bs-toggle="modal" (click)="open(content)" ><i><fa-icon [icon]="addIcon"></fa-icon></i></button>
                        </div>
                       
                </div>
                
              </li>

              <li class="table-row"  *ngFor="let salle of salleList | paginate: { id:'listing_pagination',
          itemsPerPage:4,
          currentPage:page,
          totalItems:totalRec}">
            <div class="col col-2" data-label="type">{{salle.type}}</div>
            <div class="col col-3" data-label="nom">{{salle.nom}}</div>
            <div class="col col-4" data-label="nbposte">{{salle.nbposte}}</div>
            <div class="col col-5" data-label="pourcentagePres">{{salle.pourcentagePres}}%</div>
            <div class="col col-6" data-label="dep">{{salle.dep}}</div>
            <div class="col margl col-7" >
                  
              <a href="javascript:;" class="text-secondary font-weight-bold text-xxs" data-toggle="tooltip" data-original-title="Edit salle"  (click)="editSalle(salle)" (click)="open(contentUpdate)">
                <i> <fa-icon [icon]="editIcon"></fa-icon> </i>
              </a><br>
              
              <a href="javascript:;" class=" padlr text-secondary font-weight-bold text-xxs" data-toggle="tooltip" data-original-title="delete salle"  (click)="confirmDelete(salle)" >
                <i><fa-icon [icon]="trashIcon"></fa-icon> </i>
              </a>
            </div>
            <div class="col  col-8" >
            </div>
          </li>
            </ul>
            
      
            <div class="wrapper ">
              <pagination-controls  id="listing_pagination"
                (pageChange)="page=$event"  
           >
      </pagination-controls>
        
    </div>
        </form>
       
    
      
        </div>
      </div>
    </div>