
 <!-- addsalle -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Salle </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="salleDetail">
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <h6 class="heading-small text-muted mb-4">Salle information</h6>
              <label class="form-control-label" for="input-type">type</label>
              <input type="text" formControlName="type" id="input-type" class="form-control form-control-alternative" placeholder="salle type" value="">
              <label class="form-control-label" for="input-num">number</label>
              <input type="text" formControlName="num" id="input-num" class="form-control form-control-alternative" placeholder="salle number" value="">
              <label class="form-control-label" for="input-nbposte">number of places</label>
              <input type="text" formControlName="nbposte" id="input-nbposte" class="form-control form-control-alternative" placeholder="number of places" value="">
              <label class="form-control-label" for="input-pourcentagePres">attendance percentage</label>
              <input type="text" formControlName="pourcentagePres" id="input-pourcentagePres" class="form-control form-control-alternative" placeholder="attendance percentage" value="">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" (click)="close(content)" >Close</button>
  <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal" (click)="addSalle()" (click)="c('Save click')">addsalle</button></div>
    </form>
  </div>
 
</ng-template>

<!-- editsalle -->

<ng-template #contentUpdate let-c="close" let-d="dismiss">
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
      <span class="title-center">Update Salle</span>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="salleDetail">
      <div fxFlex fxLayout="column">
              <h6 class="heading-small text-muted mb-4">Salle information</h6>
              <mat-form-field appearence="fill" fxFlex>
              <mat-label>Type</mat-label>
              <input type="text" formControlName="type" id="input-type" class="form-control form-control-alternative" placeholder="salle type" value="">
              <mat-label>Number</mat-label>
              <input type="text" formControlName="num" id="input-num" class="form-control form-control-alternative" placeholder="salle number" value="">
              <mat-label>Number of places</mat-label>
              <input type="text" formControlName="nbposte" id="input-nbposte" class="form-control form-control-alternative" placeholder="number of places" value="">
              <mat-label>Attendance percentage</mat-label>
              <input type="text" formControlName="pourcentagePres" id="input-pourcentagePres" class="form-control form-control-alternative" placeholder="attendance percentage" value="">
            </mat-form-field>
            </div>
          </form>
        </mat-dialog-content>
        <mat-dialog-actions style="width: 100%;" class="btn-group">
          <button style="width:50%"  class="btn_send" mat-strocked-button color="primary" type="submit" (click)="updateSalle()" (click)="c('Save click')">Update salle
          </button>
          <button style="width:50%" class="btn_cancel" mat-stroked-button color="btn-danger" mat-dialog-close>Close</button>
        </mat-dialog-actions>
 
</ng-template>


<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">salle manager </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <button class="btn btn-lg btn-outline-primary" (click)="open(content)">add salle</button></div>
        </div>
      </nav>
      
     
      <!-- getsalles --> 
      <!--
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr >
              <th scope="col">Id</th>
              <th scope="col">Type</th>
              <th scope="col">Number</th>
              <th scope="col">number of places</th>
              <th scope="col">attendance percentage </th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let salle of salleList | paginate: { id:'listing_paginationS',
            itemsPerPage:4,
            currentPage:page,
            totalItems:totalRec} ">
              <td scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">{{salle.id}}</span>
                  </div>
                </div>
              </td>
              <td>
                {{salle.type}}
              </td>
              <td>
                {{salle.num}}
              </td>
              <td>
                {{salle.nbposte}}
              </td>
              <td>
                {{salle.pourcentagePres}}%
              </td>
              <td class="text-right">
                <div ngbDropdown placement="bottom-right">
                  <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div >
                    <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"  data-bs-target="#editsalle" (click)="editSalle(salle)" (click)="open(contentUpdate)">edit</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal"  (click)="confirmDelete(salle)">delete</button>
                  </div>
                </div>
              </td>
            </tr>
         </tbody>
        </table>
          <div>
            <pagination-controls  id="listing_paginationS"
              (pageChange)="page=$event"  
         >
    </pagination-controls>
      
          </div>
    </div>

    
    </div>

-->
     <!-- getsalles -->
     
     
     <div class="container-fluid page">
      <div class="d-flex page__box p-3 mt-2">Gestion des salles</div>
      <div class="page__content shadow p-3 ">
      <div class="page__content-data position-absolute text-center">
        <div class="twelve">
          <h1 >La liste des salles :</h1>  
        </div>
             <form>
              <div class="s004">
                <form class="form">
                  <fieldset>
                    <div class="inner-form">
                      <div class="input-field">
                        <input class="form-control" id="choices-text-preset-values" (ngModelChange)="searchSalles(key.value)" #key="ngModel" ngModel
                        name="key" type="search" placeholder="Type to search..." />
                        <span class="input-icon" id="basic-addon1">
                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                        </svg>
                        </span>
                      </div>
                    </div> 
                  </fieldset>
                </form>
              </div>
            <ul class="responsive-table pad">
                <li class="table-header margt  ">
                  <div [(appSort)]="salleList" data-order="desc" data-name="id" class="col mar col-1 text-uppercase text-white font-weight-bolder opacity-7">Id</div>
                  <div [(appSort)]="salleList" data-order="desc" data-name="type" class="col mar col-2 text-uppercase text-white font-weight-bolder opacity-7">Type</div>
                  <div [(appSort)]="salleList" data-order="desc" data-name="num" class="col  mar col-3 text-uppercase text-white font-weight-bolder opacity-7">Numéro</div>
                  <div [(appSort)]="salleList" data-order="desc" data-name="nbposte" class="col mar col-4 text-uppercase text-white font-weight-bolder opacity-7">Nombre de postes</div>
                  <div [(appSort)]="salleList" data-order="desc" data-name="pourcentagePres" class="col mar col-5 text-uppercase text-white font-weight-bolder opacity-7">Pourcentage de présence </div>            
                
                <div class="col  col-7  margl  text-uppercase text-white font-weight-bolder opacity-7"> Actions</div>
                <div class="col col-8 ">
                          <span class="navbar-toggler-icon"></span>  
                        <div  id="navbarSupportedContent">
                          <button class="btn button-1" data-bs-toggle="modal" (click)="open(content)" ><i><fa-icon [icon]="addIcon"></fa-icon></i></button>
                        </div>
                       
                </div>
                
              </li>

              <li class="table-row"  *ngFor="let salle of salleList | paginate: { id:'listing_pagination',
          itemsPerPage:4,
          currentPage:page,
          totalItems:totalRec}">
            <div class="col col-1" data-label="Id">{{salle.id}}</div>
            <div class="col col-2" data-label="type" style="width: 100px; word-wrap:break-word;">{{salle.type}}</div>
            <div class="col col-3" data-label="num">{{salle.num}}</div>
            <div class="col col-4" data-label="nbposte">{{salle.nbposte}}</div>
            <div class="col col-5" data-label="pourcentagePres">{{salle.pourcentagePres}}</div>
            <div class="col margl col-7" >
                  
              <a href="javascript:;" class="text-secondary font-weight-bold text-xxs" data-toggle="tooltip" data-original-title="Edit salle"  (click)="editSalle(salle)" (click)="open(contentUpdate)">
                <i> <fa-icon [icon]="editIcon"></fa-icon> </i>
              </a><br>
              
              <a href="javascript:;" class=" padlr text-secondary font-weight-bold text-xxs" data-toggle="tooltip" data-original-title="delete salle"  (click)="confirmDelete(salle)" >
                <i><fa-icon [icon]="trashIcon"></fa-icon> </i>
              </a>
            </div>
            <div class="col  col-8" >
            </div>
          </li>
            </ul>
            
      
            <div class="wrapper ">
              <pagination-controls  id="listing_pagination"
                (pageChange)="page=$event"  
           >
      </pagination-controls>
        
    </div>
        </form>
       
    
      
        </div>
      </div>
    </div>