
<mat-card-header>
  <mat-toolbar class="toolbar">
    <mat-card-title>Salle Information</mat-card-title>
    <span class="toolbar-spacer"></span>
    <mat-icon (click)="onNoClick()">cancel</mat-icon>
  </mat-toolbar>
</mat-card-header>
<mat-card-content>
  <div class="container">
    <form [formGroup]="salleForm" (submit)="onSubmit()">
        <div class="form-group">
            <label class="form-control-label" for="input-type">type</label>
            <input type="text" formControlName="type" id="input-type" class="form-control form-control-alternative" placeholder="salle type" value="">
            <label class="form-control-label" for="input-num">number</label>
            <input type="text" formControlName="num" id="input-num" class="form-control form-control-alternative" placeholder="salle number" value="">
            <label class="form-control-label" for="input-nbposte">number of places</label>
            <input type="text" formControlName="nbposte" id="input-nbposte" class="form-control form-control-alternative" placeholder="number of places" value="">
            <label class="form-control-label" for="input-pourcentagePres">attendance percentage</label>
            <input type="text" formControlName="pourcentagePres" id="input-pourcentagePres" class="form-control form-control-alternative" placeholder="attendance percentage" value="">
        </div>
            <div class="row">
          <div class="col-md-6">
          <button type="submit" class="btn btn-success">
            <mat-icon>save</mat-icon>
          </button>
          <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="container">Close</button>
          </div>
        </div>
    </form>
    </div>
</mat-card-content>
