<!-- editevent -->
<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row  bg-color">
   <h1 class="title-center">Modifier l'événement</h1>
    <button type="button" class="btn-close d-block mr-0 ml-auto" aria-label="Close" mat-dialog-close  (click)="handleClear()"></button>
  </mat-toolbar-row>
</mat-toolbar>
    <div class="modal-body">
      <form [formGroup]="eventDetail">
        <div class="pl-lg-4 field">
          <div class="row formbg-inner padding-horizontal--48">
            <div class="col-lg-6">
              <div class="form-group padding-bottom--24" >
            <label  for="input-title">Titre</label>
            <input type="text" matInput formControlName="title" id="input-title" placeholder="event title" required>
            <mat-error *ngIf="eventDetail.controls.title.touched && eventDetail.controls.title.invalid">
              <span *ngIf="eventDetail.controls.title.errors.required">Ce champ est obligatoire</span>
              <span *ngIf="eventDetail.controls.title.errors.pattern">Ce champ est invalide</span> 
            </mat-error>
              </div>
              <div class="form-group padding-bottom--24" >
            <label  for="input-datedebut">Date debut</label>
            <input type="text" matInput formControlName="datedebut" id="input-datedebut" placeholder="event datedebut" required>
            <mat-error *ngIf="eventDetail.controls.datedebut.touched && eventDetail.controls.title.invalid">
              <span *ngIf="eventDetail.controls.datedebut.errors.required">Ce champ est obligatoire</span>
              <span *ngIf="eventDetail.controls.datedebut.errors.pattern">Ce champ est invalide</span> 
            </mat-error></div>
            <div class="form-group padding-bottom--24" >
            <label  for="input-datefin">Date fin</label>
            <input type="text" matInput formControlName="datefin"  id="input-datefin" placeholder="event datefin" required>
            <mat-error *ngIf="eventDetail.controls.datefin.touched && eventDetail.controls.datefin.invalid">
              <span *ngIf="eventDetail.controls.datefin.errors.required">Ce champ est obligatoire</span>
              <span *ngIf="eventDetail.controls.datefin.errors.pattern">Ce champ est invalide</span> 
            </mat-error>
            </div>
            
        </div>
          </div>
        </div>
        <div>
          <mat-dialog-actions style="width: 100%;" class="btn-group">
            <button  class="btn button-2  bg-cb" mat-strocked-button type="submit"  [disabled]="!eventDetail.valid" 
            (click)="updateEvent()"  (click)="handleClear()">Edit Event</button>
            <button   class="btn button-2  bg-cb" mat-strocked-button 
            (click)="confirmDelete()"  >Delete</button>
            <button  class="btn button-2 bg-cr" mat-stroked-button  mat-dialog-close 
             (click)="handleClear()">Close</button>
          </mat-dialog-actions>
          </div>
          </form>
    </div>