
  <!-- addDepartment -->
  <ng-template #content let-c="close" let-d="dismiss">
  
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayout="row bg-color">
  
        <span class="title-center">Ajouter un nouveau département</span>
        <button
          type="button"
          class="d-block mr-0 ml-auto btn-close" (click)="d('Cross click')"
          aria-label="Close"
          mat-dialog-close
          (click)="handleClear()"
        ></button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="modal-body">
    <form [formGroup]="departementDetail" >
      <div class="pl-lg-4 field">
        <div class="row formbg-inner   ">
          <div class="col-lg-6">
            <h6 class="heading-small text-muted mb-4">
              Les informations du département :
            </h6>
            
            <div class="padding-bottom--24" >
              <label class="form-control-label"  for="input-name">Nom</label>
              <input type="text" formControlName="name" id="input-name" class="form-control form-control-alternative "  placeholder="Le nom " value="" required minlength="4">
              <mat-error  *ngIf="departementDetail.controls.name.touched && departementDetail.controls.name.invalid">
                <span *ngIf="departementDetail.controls.name.errors.required"> Ce champ est obligatoire</span>
                <span *ngIf="departementDetail.controls.name.errors.pattern"> Ce champ est invalide</span> 
                <span *ngIf="departementDetail.controls.name.errors.minlength"> Le nom doit comporter au moins 4 caractères</span>
              </mat-error>
              </div>

              <div class="padding-bottom--24">
              <label class="form-control-label" for="input-priority">Nombre des salles</label>
              <input type="text" formControlName="nbsalles" id="input-nbsalles" class="form-control form-control-alternative" placeholder="Le nombre des salles" value="" required>
              <mat-error  *ngIf="departementDetail.controls.nbsalles.touched && departementDetail.controls.nbsalles.invalid">
                <span *ngIf="departementDetail.controls.nbsalles.errors.required"> Ce champ est obligatoire</span>
                <span *ngIf="departementDetail.controls.nbsalles.errors.pattern"> Ce champ est invalide, il doit être un numéro</span> 
              </mat-error>  
            </div>
           
          </div>
        </div>
      </div>
      <div>
        <mat-dialog-actions class="btn-group padding--14">
          <button class="btn button-2 bg-cb"  [disabled]="!departementDetail.valid" mat-strocked-button type="submit" (click)="c('Save click')" (click)="addDepartement()"  (click)="handleClear()">
            Ajouter un département
          </button>
          <button  class="btn button-2 bg-cr"  mat-stroked-button  mat-dialog-close  (click)="close(content)" (click)="handleClear()">
            Fermer
          </button>
        </mat-dialog-actions>
      </div>
    </form>
  </div>
       
      </ng-template>

  <!-- editproject -->
        
  <ng-template #contentUpdate let-c="close" let-d="dismiss">
      
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayout="row bg-color">
  
        <span class="title-center">Mettre à jour le projet</span>
        <button
          type="button"
          class="d-block mr-0 ml-auto btn-close" (click)="d('Cross click')"
          aria-label="Close"
          mat-dialog-close
          (click)="handleClear()"
        ></button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="modal-body">
    <form [formGroup]="departementDetail" >
      <div class="pl-lg-4 field">
        <div class="row formbg-inner   ">
          <div class="col-lg-6">
            <h6 class="heading-small text-muted mb-4">
              Les informations du département :
            </h6>
            <div class="padding-bottom--24" >
              <label class="form-control-label"  for="input-name">Nom</label>
                <input type="text" formControlName="name" id="input-name" class="form-control form-control-alternative "  placeholder="Le nom " value="" required minlength="4">
                <mat-error  *ngIf="departementDetail.controls.name.touched && departementDetail.controls.name.invalid">
                  <span *ngIf="departementDetail.controls.name.errors.required"> Ce champ est obligatoire</span>
                  <span *ngIf="departementDetail.controls.name.errors.pattern"> Ce champ est invalide</span> 
                  <span *ngIf="departementDetail.controls.name.errors.minlength"> Le nom doit comporter au moins 4 caractères</span>
                </mat-error>
                </div>
  
                <div class="padding-bottom--24">
                <label class="form-control-label" for="input-priority">Nombre des salles</label>
                <input type="text" formControlName="nbsalles" id="input-nbsalles" class="form-control form-control-alternative" placeholder="Le nombre des salles" value="" required>
                <mat-error  *ngIf="departementDetail.controls.nbsalles.touched && departementDetail.controls.nbsalles.invalid">
                  <span *ngIf="departementDetail.controls.nbsalles.errors.required"> Ce champ est obligatoire</span>
                  <span *ngIf="departementDetail.controls.nbsalles.errors.pattern"> Ce champ est invalide, il doit être un numéro</span> 
                </mat-error>  
              </div>

          </div>
        </div>
      </div>
      <div>
        <mat-dialog-actions class="btn-group padding--14">
          <button class="btn button-2 bg-cb"  [disabled]="!departementDetail.valid" mat-strocked-button type="submit" (click)="c('Save click')"
           (click)="updateDepartement()"  (click)="handleClear()">
            modifier projet
          </button>
          <button  class="btn button-2 bg-cr"  mat-stroked-button  mat-dialog-close  (click)="close(contentUpdate)" (click)="handleClear()">
            Fermer
          </button>
        </mat-dialog-actions>
      </div>
    </form>
  </div>
       
      </ng-template>



<!-- getdepartements -->
     
     
<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Gestion des départements</div>
  <div class="page__content shadow p-3 ">
  <div class="page__content-data position-absolute text-center">
    <div class="twelve">
      <h1  >La liste des départements : </h1>  
    </div>
         <form>
          <div class="s004">
            <form class="form">
              <fieldset>
                <div class="inner-form">
                  <div class="input-field">
                    <input class="form-control" id="choices-text-preset-values" (ngModelChange)="searchDepartements(key.value)" #key="ngModel" ngModel
                    name="key" type="search" placeholder="Type to search..." />
                    <span class="input-icon" id="basic-addon1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                    </svg>
                    </span>
                  </div>
                </div> 
              </fieldset>
            </form>
          </div>
        <ul class="responsive-table pad">
          <li class="table-header margt">
            <div [(appSort)]="departementList" data-order="desc" data-name="id" class="col  col-1 text-uppercase text-white font-weight-bolder opacity-7">Id</div>
            <div [(appSort)]="departementList" data-order="desc" data-name="name" class="col  col-2 text-uppercase text-white font-weight-bolder opacity-7">Nom</div>
            <div [(appSort)]="departementList" data-order="desc" data-name="nbsalles" class="col  col-3 text-uppercase text-white font-weight-bolder opacity-7">Nombre des salles</div>
            <div class="col  col-7  margl  text-uppercase text-white font-weight-bolder opacity-7"> Actions</div>
            <div class="col col-8 ">
                      <span class="navbar-toggler-icon"></span>  
                    <div  id="navbarSupportedContent">
                      <button class="btn button-1" data-bs-toggle="modal" (click)="open(content)" ><i><fa-icon [icon]="addIcon"></fa-icon></i></button>
                    </div>
                   
            </div>
            
          </li>
          
          <li class="table-row"  *ngFor="let departement of departementList | paginate: { id:'listing_pagination',
          itemsPerPage:4,
          currentPage:page,
          totalItems:totalRec}">
          <div class="col col-1" data-label="Id">{{departement.id}}</div>
          <div class="col col-2" data-label="Name" >{{departement.name}}</div>
          <div class="col col-3" data-label="nbsalles">{{departement.nbsalles}}</div>
            <div class="col margl col-7" >
              
              <a href="javascript:;" class="text-secondary font-weight-bold text-xxs" data-toggle="tooltip" data-original-title="Edit departement"  (click)="editDepartement(departement)" (click)="open(contentUpdate)">
                <i> <fa-icon [icon]="editIcon"></fa-icon> </i>
              </a><br>
              
              <a href="javascript:;" class=" padlr text-secondary font-weight-bold text-xxs" data-toggle="tooltip" data-original-title="delete departement"  (click)="confirmDelete(departement)" >
                <i><fa-icon [icon]="trashIcon"></fa-icon> </i>
              </a>
            </div>
            <div class="col  col-8" >
            </div>

          </li>
          
        </ul>
        
  
        <div class="wrapper ">
          <pagination-controls  id="listing_pagination"
            (pageChange)="page=$event"  
       >
  </pagination-controls>
    
</div>
    </form>
   

  
    </div>
  </div>
</div>