.form-group{
    width: 50%;
    margin-left: 25%;
}
.form-control{
    width: 100%;
    padding: 1%;
    margin-left: 25%;
    margin-bottom: 3%;
    margin-top: 3%;
}
h1{
    color: rgb(228, 43, 80);
    text-shadow: 2px 2px gray;
    font-size: 3rem;
    text-align: center;
    padding-top: 2rem;
}
.btn-block{
    width: 25%;
    margin-bottom: 3%;
    margin-left: 75%;
}