<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row bg-color">

      <span class="title-center">Modifier l'utilisateur</span>
      <button
        type="button"
        class="d-block mr-0 ml-auto btn-close" 
        aria-label="Close"
        mat-dialog-close
        (click)="handleClear()"
      ></button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-dialog-content class="mat-typography">
    <form (ngSubmit)="onSuccessUpdate()"  [formGroup]="userDetail" style=" width: 30em !important">
      <div fxFlex fxLayout="column">

      <div class="row" class="marg">
        <mat-form-field appearence="fill" fxFlex class="input mtfldwrapper">
          <mat-label class="clr2">Nom d'utilisateur</mat-label>
          <input type="text" matInput formControlName="userName" class="input-priority" required >
          <mat-error  *ngIf="userDetail.controls.userName.touched && userDetail.controls.userName.invalid">
            <span *ngIf="userDetail.controls.userName.errors.required"> Ce champ est obligatoire</span>
            <span *ngIf="userDetail.controls.userName.errors.pattern"> Ce champ est invalide, il ne doit pas contenir des caractéres spéciaux</span>
            <span *ngIf="userDetail.controls.userName.errors.minlength"> Le nom d'utilisateur doit comporter au moins 4 caractères</span>
          </mat-error>
        </mat-form-field>
      </div>

        <div class="row" class="marg">
        <mat-form-field appearence="fill" fxFlex class="input mtfldwrapper">
          <mat-label class="clr2">Email</mat-label>
          <input type="text" matInput formControlName="email" class="input-email" required >
          <mat-error  *ngIf="userDetail.controls.email.touched && userDetail.controls.email.invalid">
            <span *ngIf="userDetail.controls.email.errors.required"> Ce champ est obligatoire</span>
            <span *ngIf="userDetail.controls.email.errors.pattern"> Ce champ est invalide, il doit être un email</span>
          </mat-error>
        </mat-form-field>
      </div>
     

      <div class="row "  class="marg">
        <mat-form-field appearance="fill" class=" mtfldwrapper">
          <mat-label>Profil</mat-label>
          <mat-select  required formControlName="profil" multiple >
            <mat-option *ngFor="let profil of profilList" [value]="profil.name" >{{profil.name}}</mat-option>
          </mat-select>
          <mat-error  *ngIf="userDetail.controls.profil.touched && userDetail.controls.profil.invalid">
            <span *ngIf="userDetail.controls.profil.errors.required"> Ce champ est obligatoire</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayoutAlign="end end" style=" padding: 8px 0;margin-top: 6%;
      display: flex;
      flex-wrap: wrap;
      min-height: 52px;
      align-items: center;
      margin-bottom: -24px;">
      
          <button      class="btn bg-cb" style=" color: white;"  type="submit" >
              {{ "Modifier"  }}
          </button>
      </div>
      </div>
    
    </form>
 
  
  </mat-dialog-content>
