
  
         <!-- getLogaccess -->
         <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr >
                  <th scope="col">Id</th>
                  <th scope="col">Username</th>
                  <th scope="col">Action</th>
                  <th scope="col">Action date</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let Logdata of logdataList | paginate: { id:'listing_pagination',
                itemsPerPage:4,
                currentPage:page,
                totalItems:totalRec} ">
                <td>
                  {{Logdata.id}}
                </td>
                <td>
                    {{Logdata.username}}
                </td>
                  <td>
                    {{Logdata.action}}
                  </td>
                  <td>
                    {{Logdata.dateAction}}
                  </td>
                </tr>
             </tbody>
            </table>
              <div>
                <pagination-controls  id="listing_pagination"
                  (pageChange)="page=$event"  
             >
        </pagination-controls>
          
              </div>
   

  