:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 260px;
  }
  mat-drawer-container {
    height: 100%;
  }
  
  mat-drawer {
    background: linear-gradient(195deg, #b6d0e7 0%, #00294c 100%);
  }
  /*
  app-sidenav{
    background-image: linear-gradient(195deg, #b6d0e7 0%, #00294c 100%)
  };

  */
