<mat-card>
    <mat-card-header>
      <mat-toolbar class="toolbar">
        <mat-card-title>Salle List</mat-card-title>
        <span class="toolbar-spacer"></span>
        <button class="ml-7"><mat-icon  (click)="addSalle()">add</mat-icon></button>
      </mat-toolbar>
    </mat-card-header>
  
    <mat-card-content>
      <div class="container">
        <table class="table">
            <thead class="thead-light">
                <tr >
                  <th scope="col">Id</th>
                  <th scope="col">Type</th>
                  <th scope="col">Number</th>
                  <th scope="col">number of places</th>
                  <th scope="col">attendance percentage </th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let salle of salleList ">
                  <td scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">{{salle.id}}</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    {{salle.type}}
                  </td>
                  <td>
                    {{salle.num}}
                  </td>
                  <td>
                    {{salle.nbposte}}
                  </td>
                  <td>
                    {{salle.pourcentagePres}}%
                  </td>
                  <td class="text-right">
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div >
                        <td><mat-icon (click)="editSalle(salle.id)">edit</mat-icon></td>
            <td><mat-icon (click)="deleteSalle(salle.id)">delete</mat-icon></td>
                      </div>
                    </div>
                  </td>
                </tr>
             </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>