body {
  font-family: 'lato', sans-serif;
}
.page__content{
  font-size: 1rem;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #007ba7 0px 0px 20px,
   #007ba7 0px 0px 30px, #007ba7 0px 0px 40px, #007ba7 0px 0px 50px, #007ba7 0px 0px 75px, 2px 3px 2px rgba(26, 77, 124, 0);
   color: #5469d4;
   padding-bottom: 1em;
}

.responsive-table {
  li {
    border-radius: 20px;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    
  }
 
 
  
  /* CSS */
  .button-1 {
    background-color: #007ba7;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 50px;
    list-style: none;
    margin: 0.5em;
    outline: none;
    padding: 0px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
  }
   

  .button-1:hover,
  .button-1:focus {
    background-color: #007ba7 ;
  }
  

  .table-header {
    background-image: linear-gradient(195deg, #7fd3ed 0%, #5469d4 100%);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 4%;
  }
  .col-2 {
    flex-basis: 15%;
}
  .col-3 {
    flex-basis: 10%;
  }
  .col-4 {
    flex-basis: 20%;
    margin-left: 0.2em;
  }
  .col-5 {
    flex-basis: 10%;
    margin-left: 0.2em;

  }
  .col-6 {
    flex-basis: 10%;
  }
  
  .col-8 {
    flex-basis: 16%;
  }
  .col-9 {
    flex-basis: 5%;
  }
  .text-secondary {
    color: #7b809a !important;
  }
  .text-white {
    color: #ffffff !important;
  }
  .text-uppercase {
    text-transform: uppercase !important;
  }
  .opacity-7 {
    opacity: 0.7 !important;
  }
  .text-xxs {
    font-size: 1rem !important;
  }
  .font-weight-bold {
    font-weight: 400 !important;
  }
  
  .font-weight-bolder {
    font-weight: 700 !important;
  }
  
  
  
  @media all and (max-width: 950px) {
    .table-header {
      display: none;
    }
    .table-row{
      
    }
    li {
      display: block;
    }
    .col {
     
      flex-basis: 100%;
      max-width:160em;
      
    }
    .col {
      display: flex;
      padding: 1px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: center;
      }
    }
  }
}

.phrase{
    max-width: 40em; max-width: 100ch;
}

.page {
  color: white;
  padding: 0 1em;
  background: #f1f5f9;
}
.page__box {
  min-height: 120px;
  background: #b0dfe5;
  margin: 0 -1rem;
  font-size: 36px;
}
.page__content {
  min-height: calc(100vh - 178px);
  border-radius: 10px;
  margin-top: -2rem;
  background: white;
  color: black;

}
.page__content-data {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pad{
padding:0;

}


.pg{
color: #0dcaf0;
}




/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}





/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */


/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}


/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}




.s004 form {
  width: 100%;
  max-width: 790px;
}


.s004 form .inner-form {
  width: 100%;
  margin-bottom: 20px;
}

.s004 form .inner-form .input-field {
  width: 50%;
  position: relative;
  bottom: 0;
  right: -200px;
}

.s004 form .inner-form .input-field .choices {
  margin-bottom: 0;
}


.s004 form .inner-form .input-field .btn-search {
  width: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: default;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  align-items: center;
}

.s004 form .inner-form .input-field .btn-search svg {
  fill: #333;
  width: 30px;
  height: 30px;
  transition: all .2s ease-out, color .2s ease-out;
}

.s004 form .inner-form .input-field .btn-search:hover, .s004 form .inner-form .input-field .btn-search:focus {
  outline: 0;
  box-shadow: none;
}






.input{
  width: 100%;
}


.bg-cr{
  background-color: #DC143C;
}
.bg-cb{
  background-color: #007ba7;
}


.bg-cr:hover,
  .bg-cr:focus {
    background-color: #b6314b ;
  }
  
.bg-cb:hover,
  .bg-cb:focus {
    background-color: #377085 ;
  }

  .button-2 {
    
    border-radius: 10px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 50px;
    list-style: none;
    margin: 0.5em;
    outline: none;
    padding: 0px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
  }
  .padl
  {
    padding-left: 4em;
    margin-left: 4em;
  }
  .padr
  {
    padding-right: 4em;
    margin-right: 4em;
  }