
    
      <!-- addproject -->

  
    
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Add project </h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="projetDetail">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <h6 class="heading-small text-muted mb-4">project information</h6>
                    <label class="form-control-label" for="input-name">name</label>
                    <input type="text" formControlName="name" id="input-name" class="form-control form-control-alternative" placeholder="project name" value="">
                    <label class="form-control-label" for="input-priority">priority</label>
                    <input type="text" formControlName="priority" id="input-priority" class="form-control form-control-alternative" placeholder="project priority" value="">
                    <label class="form-control-label" for="input-description">description</label>
                    <input type="text" formControlName="description" id="input-description" class="form-control form-control-alternative" placeholder="project description" value="">
                    <label class="form-control-label" for="input-startdate">startdate</label>
                    <input type="text" formControlName="startdate" id="input-startdate" class="form-control form-control-alternative" placeholder="project startdate" value="">
                    <label class="form-control-label" for="input-enddate">enddate</label>
                    <input type="text" formControlName="enddate" id="input-enddate" class="form-control form-control-alternative" placeholder="project enddate" value="">
                  
                </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" (click)="close(content)" >Close</button>
        <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal" (click)="addProjet()" (click)="c('Save click')">addproject</button></div>
          </form>
        </div>
       
      </ng-template>
    
      <!-- editproject -->
    

      <ng-template #contentUpdate let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">update project details </h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="projetDetail">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <h6 class="heading-small text-muted mb-4">project information</h6>
                        <label class="form-control-label" for="input-name">name</label>
                        <input type="text" formControlName="name" id="input-name" class="form-control form-control-alternative" placeholder="project name" value="">
                        <label class="form-control-label" for="input-priority">priority</label>
                        <input type="text" formControlName="priority" id="input-priority" class="form-control form-control-alternative" placeholder="project priority" value="">
                        <label class="form-control-label" for="input-description">description</label>
                        <input type="text" formControlName="description" id="input-description" class="form-control form-control-alternative" placeholder="project description" value="">
                        <label class="form-control-label" for="input-startdate">startdate</label>
                        <input type="text" formControlName="startdate" id="input-startdate" class="form-control form-control-alternative" placeholder="project startdate" value="">
                        <label class="form-control-label" for="input-enddate">enddate</label>
                        <input type="text" formControlName="enddate" id="input-enddate" class="form-control form-control-alternative" placeholder="project enddate" value="">
                      </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" (click)="close(contentUpdate)">Close</button>
        <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal" (click)="updateProjet()" (click)="c('Save click')">updateProject</button></div>
          </form>
        </div>
      </ng-template>

      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">project manager </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <button class="btn btn-outline-primary" data-bs-toggle="modal" (click)="open(content)" >add project</button>
              </div>
            </div>
          </nav>
        </div>
     <!-- getprojects -->
     <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr >
              <th scope="col">Id</th>
              <th scope="col">name</th>
              <th scope="col">priority</th>
              <th scope="col">description</th>
              <th scope="col">startdate</th>
              <th scope="col">enddate</th>
    
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let projet of projetList | paginate: { id:'listing_pagination',
            itemsPerPage:4,
            currentPage:page,
            totalItems:totalRec} ">
              <td scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">{{projet.id}}</span>
                  </div>
                </div>
              </td>
              <td>
                {{projet.name}}
              </td>
              <td>
                {{projet.priority}}
              </td>
              <td>
                {{projet.description}}
              </td>
              <td>
                {{projet.startdate}}
              </td>
              <td>
                {{projet.enddate}}
              </td>
              <td class="text-right">
                <div ngbDropdown placement="bottom-right">
                  <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div >
                    <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"  data-bs-target="#editprojet" (click)="editProjet(projet)" (click)="open(contentUpdate)">edit</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-dismiss="modal"  (click)="confirmDelete(projet)">delete</button>
                  </div>
                </div>
              </td>
            </tr>
         </tbody>
        </table>
          <div>
            <pagination-controls  id="listing_pagination"
              (pageChange)="page=$event"  
         >
    </pagination-controls>
      
          </div>
    </div>
    
   