

  
    <!-- addprofil -->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Profil </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="profilDetail">
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <h6 class="heading-small text-muted mb-4">profil information</h6>
                <label class="form-control-label" for="input-name">name</label>
                <input type="text" formControlName="name" id="input-name" class="form-control form-control-alternative" placeholder="profil name" value="">
               
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" (click)="close(content)" >Close</button>
    <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal" (click)="addProfil()" (click)="c('Save click')">addProfil</button></div>
      </form>
    </div>
   
  </ng-template>
  
  <!--updateprofil-->

  <ng-template #contentUpdate let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">update profil details </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="profilDetail">
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <h6 class="heading-small text-muted mb-4">profil information</h6>
                <label class="form-control-label" for="input-name">name</label>
                <input type="text" formControlName="name" id="input-name" class="form-control form-control-alternative" placeholder="profil name" value="">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" (click)="close(contentUpdate)">Close</button>
    <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal" (click)="updateProfil()" (click)="c('Save click')">updateProfil</button></div>
      </form>
    </div>
   
  </ng-template>
  

        <!-- getprofils -->
        
     
     
     <div class="container-fluid page">
      <div class="d-flex page__box p-3 mt-2">Gestion des profils</div>
      <div class="page__content shadow p-3 ">
      <div class="page__content-data position-absolute text-center">
       
             <form>
              <div class="s004">
                <form class="form">
                  <fieldset>
                    <div class="inner-form">
                      <div class="input-field">
                        <input class="form-control" id="choices-text-preset-values" (ngModelChange)="searchProfils(key.value)" #key="ngModel" ngModel
                        name="key" type="search" placeholder="Type to search..." />
                        <span class="input-icon" id="basic-addon1">
                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                        </svg>
                        </span>
                      </div>
                    </div> 
                  </fieldset>
                </form>
              </div>
            <ul class="responsive-table pad">
              <li class="table-header margt">
                <div [(appSort)]="profilList" data-order="desc" data-name="id" class="col  col-1 text-uppercase text-white font-weight-bolder opacity-7">Id</div>
                <div [(appSort)]="profilList" data-order="desc" data-name="name" class="col  col-2 text-uppercase text-white font-weight-bolder opacity-7">Nom</div>
                <div [(appSort)]="profilList" data-order="desc" data-name="description" class="col  col-3 text-uppercase text-white font-weight-bolder opacity-7">Description</div>
                <div class="col  col-4    text-uppercase text-white font-weight-bolder opacity-7"> Actions</div>
               <!-- <div class="col col-8 ">
                          <span class="navbar-toggler-icon"></span>  
                        <div  id="navbarSupportedContent">
                          <button class="btn button-1" data-bs-toggle="modal" (click)="open(content)" ><i><fa-icon [icon]="addIcon"></fa-icon></i></button>
                        </div>
                       
                </div>-->
                
              </li>
              
              <li class="table-row"  *ngFor="let profil of profilList | paginate: { id:'listing_pagination',
              itemsPerPage:4,
              currentPage:page,
              totalItems:totalRec}">
                <div class="col col-1" data-label="Id">{{profil.id}}</div>
                <div class="col col-2" data-label="Name">{{profil.name}}</div>
                <div class="col col-3" data-label="Description" style="width: 130px; word-wrap:break-word;">{{profil.description}}</div>
                <div class="col  col-4" >
                  
                  <a href="javascript:;" class="text-secondary font-weight-bold text-xxs" data-toggle="tooltip" data-original-title="Edit profil"  (click)="editProfil(profil)" (click)="open(contentUpdate)">
                    <i> <fa-icon [icon]="editIcon"></fa-icon> </i>
                  </a><br>
                  
                  <a href="javascript:;" class=" padlr text-secondary font-weight-bold text-xxs" data-toggle="tooltip" data-original-title="delete profil"  (click)="confirmDelete(profil)" >
                    <i><fa-icon [icon]="trashIcon"></fa-icon> </i>
                  </a>
                </div>
                <div class="col  col-8" >
                </div>

              </li>
              
            </ul>
            
      
            <div class="wrapper ">
              <pagination-controls  id="listing_pagination"
                (pageChange)="page=$event"  
           >
      </pagination-controls>
        
    </div>
        </form>
        </div>
      </div>
    </div>



  
  
  