<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row bg-color">

      <span class="title-center">Mettre à jour l'employé</span>
      <button
        type="button"
        class="d-block mr-0 ml-auto btn-close" 
        aria-label="Close"
        mat-dialog-close
        (click)="handleClear()"
      ></button>
    </mat-toolbar-row>
  </mat-toolbar>
  <h6 class="heading-small text-muted mb-4 pad-info">
    Les informations de l'employé :
  </h6>
  <mat-dialog-content class="mat-typography" style="overflow: autod ;" style=" width: 30em !important">
    <form (ngSubmit)="onSuccessAdd()" [formGroup]="employeeDetail">
      <div fxFlex fxLayout="column">

        <div class="row" class="marg">
          <mat-form-field appearence="fill" fxFlex class="input mtfldwrapper">
            <mat-label class="clr2">Nom</mat-label>
            <input type="text" matInput formControlName="firstname" class="input-priority" required >
            <mat-error  *ngIf="employeeDetail.controls.firstname.touched && employeeDetail.controls.firstname.invalid">
              <span *ngIf="employeeDetail.controls.firstname.errors.required"> Ce champ est obligatoire</span>
              <span *ngIf="employeeDetail.controls.firstname.errors.pattern"> Ce champ est invalide, il ne doit pas contenir ni des chiffres ni des caractéres spéciaux</span>
        
   
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row" class="marg">
          <mat-form-field appearence="fill" fxFlex class="input mtfldwrapper">
            <mat-label class="clr2">Prénom</mat-label>
            <input type="text" matInput formControlName="lastname" class="input-priority" required >
            <mat-error  *ngIf="employeeDetail.controls.lastname.touched && employeeDetail.controls.lastname.invalid">
              <span *ngIf="employeeDetail.controls.lastname.errors.required"> Ce champ est obligatoire</span>
              <span *ngIf="employeeDetail.controls.lastname.errors.pattern"> Ce champ est invalide, il ne doit pas contenir ni des chiffres ni des caractéres spéciaux</span>

   
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearence="fill" fxFlex class="input mtfldwrapper">
            <mat-label style="padding-left: 2.5%;">Date de naissance</mat-label>
            <mat-icon matPrefix>today</mat-icon>
            <input #date1 [min]="minDate" [max]="maxDate" formControlName="birthdate" matInput [matDatepicker]="picker">
            <mat-hint style="padding-left: 6%;">MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="employeeDetail.controls.birthdate.touched && employeeDetail.controls.birthdate.invalid">
              <span *ngIf="employeeDetail.controls.birthdate.errors.required"> Ce champ est obligatoire</span>
            </mat-error>
        </mat-form-field>
        </div>
        
        <div class="row" class="marg">
          <mat-form-field appearence="fill" fxFlex class="input mtfldwrapper">
            <mat-label class="clr2">Adresse</mat-label>
            <input type="text" matInput formControlName="address" class="input-address" required >
            <mat-error  *ngIf="employeeDetail.controls.address.touched && employeeDetail.controls.address.invalid">
              <span *ngIf="employeeDetail.controls.address.errors.required"> Ce champ est obligatoire</span>
              <span *ngIf="employeeDetail.controls.address.errors.pattern"> L'adresse doit comporter au moins 4 caractères</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row" class="marg">
          <mat-form-field appearence="fill" fxFlex class="input mtfldwrapper">
            <mat-label class="clr2">Numéro</mat-label>
            <input type="text" matInput formControlName="phonenumber" class="input-phonenumber" required >
            <mat-error  *ngIf="employeeDetail.controls.phonenumber.touched && employeeDetail.controls.phonenumber.invalid">
              <span *ngIf="employeeDetail.controls.phonenumber.errors.required"> Ce champ est obligatoire</span>
              <span *ngIf="employeeDetail.controls.phonenumber.errors.pattern"> Ce champ est invalide, il doit être un numéro</span>
              <span *ngIf="employeeDetail.controls.phonenumber.errors.minlength && employeeDetail.controls.phonenumber.errors.maxlength"> Le numéro doit comporter 8 chiffres</span>                   
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row "  class="marg">
          <mat-form-field appearance="fill" class=" mtfldwrapper">
            <mat-label>Chef</mat-label>
            <select matNativeControl required formControlName="manager" >
              <ng-container *ngFor="let employee of listComboxUsers" >
          <option></option>
              <option  *ngIf="employeeDetail.controls.firstname!==employee.firstname" >{{employee.firstname}}</option>
            </ng-container>
            </select>
            <mat-error  *ngIf="employeeDetail.controls.manager.touched && employeeDetail.controls.manager.invalid">
              <span *ngIf="employeeDetail.controls.manager.errors.required"> Ce champ est obligatoire</span>
            </mat-error>
          </mat-form-field>
        </div>



        <div class="row "  class="marg">
          <mat-form-field appearance="fill" class=" mtfldwrapper">
            <mat-label>Projet</mat-label>
            <select matNativeControl required formControlName="project" >
              <option *ngFor="let project of projectList" [value]="project.name" >{{project.name}}</option>
            </select>
            <mat-error  *ngIf="employeeDetail.controls.project.touched && employeeDetail.controls.project.invalid">
              <span *ngIf="employeeDetail.controls.project.errors.required"> Ce champ est obligatoire</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row "  class="marg">
          <mat-form-field appearance="fill" class=" mtfldwrapper">
            <mat-label>Salle</mat-label>
            <select matNativeControl required formControlName="salle" >
              <option *ngFor="let salle of salleList" [value]="salle.nom" >{{salle.nom}}</option>
            </select>
            <mat-error  *ngIf="employeeDetail.controls.salle.touched && employeeDetail.controls.salle.invalid">
              <span *ngIf="employeeDetail.controls.salle.errors.required"> Ce champ est obligatoire</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayoutAlign="end end" style=" padding: 8px 0;margin-top: 6%;
        display: flex;
        flex-wrap: wrap;
        min-height: 52px;
        align-items: center;
        margin-bottom: -24px;">
        
            <button    class="btn bg-cb" style=" color: white;" type="submit" >
                {{ "Modifier"  }}
            </button>
        </div>
     
      </div>
    </form>
  </mat-dialog-content>
   