
<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
      <span class="title-center">Are you sure you want to delete this ?</span>
    </mat-toolbar-row>
</mat-toolbar>
  <mat-dialog-content class="mat-typography">
    <button >Yes</button>        
    <button >No</button>  
  </mat-dialog-content>
  <mat-dialog-actions style="width: 100%;" class="btn-group">
    <button style="width:50%" class="btn_cancel" mat-stroked-button color="btn-danger" mat-dialog-close>Close</button>
  </mat-dialog-actions>
  
  