  <!--updateprofil-->
  
  
 

  
  <mat-toolbar color="primary" style="width:500px !important">
    <mat-toolbar-row fxLayout="row bg-color" >

      <span class="title-center">Modifier profil</span>
      <button
        type="button"
        class="d-block mr-0 ml-auto btn-close" 
        aria-label="Close"
        mat-dialog-close
        (click)="handleClear()"
      ></button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-dialog-content class="mat-typography" >
    <form (ngSubmit)="onSuccessAdd()" [formGroup]="profilDetail" style=" width: 30em !important">
      <div fxFlex fxLayout="column">
        <div class="row "  class="marg">
        <mat-form-field appearence="fill" fxFlex class="input mtfldwrapper">
          
          <mat-label class="clr2">Description</mat-label>
          <textarea type="text" matInput formControlName="description"  class="input-description" required ></textarea>
          <mat-error  *ngIf="profilDetail.controls.description.touched && profilDetail.controls.description.invalid">
            <span *ngIf="profilDetail.controls.description.errors.required"> Ce champ est obligatoire</span>
            <span *ngIf="profilDetail.controls.description.errors.pattern"> Ce champ est invalide, il ne doit pas contenir des caractéres spéciaux</span> 
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayoutAlign="end end" style=" padding: 8px 0;margin-top: 6%;
      display: flex;
      flex-wrap: wrap;
      min-height: 52px;
      align-items: center;
      margin-bottom: -24px;">
      
          <button     class="btn bg-cb" style=" color: white;" [mat-dialog-close] type="submit" >
              {{ "Modifier"  }}
          </button>
      </div>
      </div>
    </form>
  </mat-dialog-content>

 
